<p><%= user_name%>, your age is <%= user_age%>.</p>
<p>Whare are your 3 favorite numbers?</p>

<form action='numbers' method='post'>
	<input type='number' name='fav_num1' autofocus='autofocus'> <i>Favorite Number 1</i>
	<br/>
	<input type='number' name='fav_num2'> <i>Favorite Number 2</i>
	<br/>
	<input type='number' name='fav_num3'> <i>Favorite Number 3</i>
	<br/>
	<input type='submit'>
</form>